div#bottom_display {
    position: fixed;
    left: 6vw;
    bottom: 6vh;
}

div.description{
    font-size: 10vmin;
    background-color: #DEDEDE;
    font-weight: bold;
    padding: 2px 24px;
    width: 100vw;
}

div.ticker_container{
    display: flex;
    float: left;
}
div#current_time{
    background-color: black;
    color: white;
    font-size: 4vmin;
    font-weight: bold;
    width: fit-content;
    padding: 11px 11px;
    height: fit-content;
    margin-top: -1px;
}

span.colon_blinker{
    animation: blink 2s infinite;
}

@keyframes blink {
    0% { visibility: hidden; }
    10% { visibility: hidden;}
}

marquee#ticker{
    background-color: yellow;
    color: black;
    font-size: 4vmin;
    font-weight: bold;
    padding: 11px 11px;
    width: 93vmax;
    overflow: hidden;
    margin-top: -1px;
}