div#bottom_display {
    position: fixed;
    left: 6vw;
    bottom: 16vh;
}

div#description{
    font-size: 6.5em;
    background-color: #DEDEDE;
    font-weight: bold;
    padding: 2px 24px;
    width: 100vw;
}