@import url('https://fonts.googleapis.com/css?family=Signika');
@import "liveBox.css";
@import "header.css";

/* html{
    height: 100%;
    margin: 0;
    padding: 0;
} */

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: 'Signika', sans-serif;
  }

  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    --main-red: #CB0000;
  }
