@import url('https://fonts.googleapis.com/css?family=Signika');
@import "bottomDisplay.css";
@import "liveBox.css";
@import "header.css";

/* html{
    height: 100%;
    margin: 0;
    padding: 0;
} */

body {
    margin: 0;
    padding: 0;
    font-family: 'Signika', sans-serif;
    background-image:url('../assets/HugoBehindBars.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }

  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    --main-red: #CB0000;
  }
