div.live_box {
    background: var(--main-red);
    position: fixed;
    font-size: 3em;
    font-weight: bold;
    color: white;
    box-shadow: inset 0 -4px 12px 2px rgba(0, 0, 0, 0.1);
    width: fit-content;
    padding: 10px 21px;
    left: 6vw;
    top: 6vh;
}